<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico', _external=True)}}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/gijgo.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/slicknav.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/nice-select.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/style.css', _external=True)}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css', _external=True)}}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{url_for('static', filename='img/logo/logo.png', _extenal=True)}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                       <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>+880166 253 232</li>
                                    <li>info@domain.com </li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>     
                                    <li>Mon - Fri: 9:00 - 19:00 / Closed on Weekends</li>
                                </ul>
                            </div>
                       </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                <a href="{{url_for('principal')}}"><img src="{{url_for('static', filename='img/logo/logo.png', _extenal=True)}}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="{{url_for('principal')}}">Home</a></li>
                                            <li><a href="{{url_for('sobre')}}">About</a></li>
                                            <li><a href="{{url_for('industria')}}">Industries</a></li>
                                            <li><a href="{{url_for('trabalho')}}">Works</a></li>
                                            <li><a href="{{url_for('blog')}}">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="{{url_for('blog')}}">Blog</a></li>
                                                    <li><a href="{{url_for('blogDetalhes')}}">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{{url_for('contato')}}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <!-- Header-btn -->
                                <div class="header-btn d-none d-lg-block">
                                    <a href="#" class="get-btn">Get A QUOTE</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{{url_for('static', filename='img/hero/Industries_hero.jpg', _extenal=True)}}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Services Area Start -->
        <div class="services-area d-flex justify-content-lg-between section-padding30">
            <div class="single-services">
                <div class="services-icon">
                    <img src="{{url_for('static', filename='img/icon/services_icon_1.png', _extenal=True)}}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Automotive Manufacturing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="services-btn">
                    <a href="{{url_for('industria')}}" class="arrow-btn"><img src="{{url_for('static', filename='img/icon/arrow_icon.png', _extenal=True)}}" alt=""></a>
                </div>
            </div>
            <div class="single-services">
                <div class="services-icon">
                    <img src="{{url_for('static', filename='img/icon/services_icon_2.png', _extenal=True)}}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Heavy industry market</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="services-btn">
                    <a href="{{url_for('industria')}}" class="arrow-btn"><img src="{{url_for('static', filename='img/icon/arrow_icon.png', _extenal=True)}}" alt=""></a>
                </div>
            </div>
            <div class="single-services">
                <div class="services-icon">
                    <img src="{{url_for('static', filename='img/icon/services_icon_3.png', _extenal=True)}}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Industry analysis</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="services-btn">
                    <a href="{{url_for('industria')}}" class="arrow-btn"><img src="{{url_for('static', filename='img/icon/arrow_icon.png', _extenal=True)}}" alt=""></a>
                </div>
            </div>
            <div class="single-services">
                <div class="services-icon">
                    <img src="{{url_for('static', filename='img/icon/services_icon_1.png', _extenal=True)}}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Automotive Manufacturing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="services-btn">
                    <a href="{{url_for('industria')}}" class="arrow-btn"><img src="{{url_for('static', filename='img/icon/arrow_icon.png', _extenal=True)}}" alt=""></a>
                </div>
            </div>
            <div class="single-services">
                <div class="services-icon">
                    <img src="{{url_for('static', filename='img/icon/services_icon_2.png', _extenal=True)}}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Heavy industry market</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="services-btn">
                    <a href="{{url_for('industria')}}" class="arrow-btn"><img src="{{url_for('static', filename='img/icon/arrow_icon.png', _extenal=True)}}" alt=""></a>
                </div>
            </div>
            <div class="single-services">
                <div class="services-icon">
                    <img src="{{url_for('static', filename='img/icon/services_icon_3.png', _extenal=True)}}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Industry analysis</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="services-btn">
                    <a href="{{url_for('industria')}}" class="arrow-btn"><img src="{{url_for('static', filename='img/icon/arrow_icon.png', _extenal=True)}}" alt=""></a>
                </div>
            </div>
        </div>
        <!-- Services Area End -->

        <!-- Want To Work Start -->
        <div class="wantToWork-area w-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="wantToWork-caption">
                            <h2>Want To Work<br> With Us? Hit The Button.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-4">
                       <div class="wantToWork-btn f-right">
                            <a href="#" class="white-btn">Let’s Work Toghter</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Want To Work End -->

    </main>
    
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>About Us</h4>
                                 <div class="footer-pera">
                                     <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing</p>
                                </div>
                             </div>
                         </div>
                          <!-- logo -->
                          <div class="footer-logo">
                            <a href="{{url_for('principal')}}"><img src="{{url_for('static', filename='img/logo/logo2_footer.png', _extenal=True)}}" alt=""></a>
                          </div>
                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                    <p> Address :Your address goes
                                     here, your demo address.</p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Our Photo Gellary</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                 <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons</p>
                             </div>
                             <!-- Form -->
                             <div class="footer-form" >
                                 <div id="mc_embed_signup">
                                     <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                     method="get" class="subscribe_form relative mail_part">
                                         <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                         class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                         onblur="this.placeholder = ' Email Address '">
                                         <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src="{{url_for('static', filename='img/icon/form_icon.png', _extenal=True)}}" alt=""></button>
                                         </div>
                                         <div class="mt-10 info"></div>
                                     </form>
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-xl-2 col-lg-2">
                             <div class="footer-social f-right">
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                                 <a href="#"><i class="fas fa-globe"></i></a>
                                 <a href="#"><i class="fab fa-behance"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{url_for('static', filename='js/vendor/modernizr-3.5.0.min.js', _external=True)}}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{url_for('static', filename='js/vendor/jquery-1.12.4.min.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/popper.min.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js', _external=True)}}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{{url_for('static', filename='js/jquery.slicknav.min.js', _external=True)}}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{url_for('static', filename='js/owl.carousel.min.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/slick.min.js', _external=True)}}"></script>
        <!-- Date Picker -->
        <script src="{{url_for('static', filename='js/gijgo.min.js', _external=True)}}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{{url_for('static', filename='js/wow.min.js', _external=True)}}"></script>
		<script src="{{url_for('static', filename='js/animated.headline.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/jquery.magnific-popup.js', _external=True)}}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{{url_for('static', filename='js/jquery.scrollUp.min.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/jquery.nice-select.min.js', _external=True)}}"></script>
		<script src="{{url_for('static', filename='js/jquery.sticky.js', _external=True)}}"></script>
        
        <!-- contact js -->
        <script src="{{url_for('static', filename='js/contact.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/jquery.form.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/jquery.validate.min.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/mail-script.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js', _external=True)}}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{{url_for('static', filename='js/plugins.js', _external=True)}}"></script>
        <script src="{{url_for('static', filename='js/main.js', _external=True)}}"></script>
        
    </body>
</html>